@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(/assets/fonts/Roboto-Bold.ttf);
}
.label-2 {
  display: flex;
  margin-bottom: 10px;
}
#error-message {
  margin: 0;
  font-size: 10px;
  font-family: Roboto-Bold;
  display: none; 
  color: red; 
}
@media (min-width: 500px) {
  body {
    margin: 10px;
    display: flex;
    font-family: Roboto;
    /* background-color: rgb(28, 42, 70); Hover */
    /* background-color: hsl(234, 29%, 20%); button */
    background-color: hsl(235, 18%, 26%);
    align-items: center;
    justify-content: center;
    color: hsl(235, 18%, 26%);
    font-size: 16px;
  }
  .bold {
    font-family: Roboto-Bold;
    margin: 0;
    font-size: 58px;
  }
  .container {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    width: 850px;
    height: 632px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
  }
  .padding {
    display: flex;
    background-color: transparent;
  }
  .sign-up-form {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: 593px;
    width: 400px;
    align-items: start;
    justify-content: center;
  }
  .title, .paragraph, .list, .form  {
    width: 100%;
  }
  .title, .paragraph {
    padding-bottom: 10px;
  }
  .list {
    padding-bottom: 30px;
  }
  .paragraph {
    width: 400px;
    padding-bottom: 20px;
  }
  .paragraph p {
    margin: 0;
  }
  
  #label, #email, #btn {
    display: block;
  }
  #label {
    font-size: 10px;
    font-family: Roboto-Bold;
    width: 70%;
  }
  .image-2 {
    display: none;
  }
  #email {
    margin-bottom: 15px;
    padding: 13px;
    width: 87.5%;
    border-radius: 10px;
    border: 1px solid hsl(233, 10%, 33%);
  }
  #email:focus {
    border: 1px solid transparent;
    outline: 1px solid hsl(235, 18%, 26%);
  }
  #btn {
    height: 50px;
    width: 95%;
    background-color: hsl(236, 25%, 21%);
    border: 0;
    color: white;
    border-radius: 10px;
    font-family: Roboto-Bold;
    cursor: pointer;
  }
  #btn:hover {
    background-color: hsl(4, 100%, 67%);
  }
  .list ul li {
    display: flex;
    list-style-type: none;
    font-size: 16px;
    padding-bottom: 10px;
  }
  .list img {
    padding-right: 15px;
  }
  .list ul {
    margin: 0;
    padding: 0;
  }
  .list {
    margin-top: 0;
  }
  #successBody {
    background-color: white;
    color: hsl(236, 25%, 21%);
    width: 300px;
    font-size: 15px;
    font-family: Roboto;
    padding: 40px;
    border-radius: 30px;
    margin-top: 100px;
  }
  #successBody h1 {
    font-family: Roboto-Bold;
    font-size: 40px;
  }
  #successBody p {
    margin-bottom: 40px;
  }
}

@media (min-width: 375px) and (max-width: 500px) {
  body {
    margin: 0;
    padding: 0;
  }
  #image {
    display: none;
  }
  .container {
    display: flex;
  }
  .padding {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .sign-up-form {
    padding: 20px;
    position: absolute;
    width: 335px;
    top: 290px;
    height: 345px;
  }
  .image {
    position: absolute;
  }
  .list ul li {
    display: flex;
    list-style-type: none;
    font-size: 16px;
    margin-bottom: 5px;
  }
  .list img {
    padding-right: 10px;
  }
  .list ul {
    margin: 0;
    padding: 0;
  }
  .list {
    margin-top: 0;
    margin-bottom: 10px;
  }
  #label {
    font-size: 10px;
    font-family: Roboto-Bold;
    width: 70%;
  }
  #label, #email, #btn {
    display: block;
  }
  #btn {
    height: 50px;
    width: 95%;
    background-color: hsl(236, 25%, 21%);
    border: 0;
    color: white;
    border-radius: 5px;
    font-family: Roboto-Bold;
  }
  #email {
    margin-bottom: 15px;
    padding: 13px;
    width: 87.5%;
    border-radius: 4px;
    border: 1px solid hsl(233, 10%, 33%);
  }
  .paragraph {
    padding-bottom: 20px;
  }
  .paragraph p {
    margin: 0;
  }
  .bold {
    font-family: Roboto-Bold;
    margin: 0;
    margin-bottom: 10px;
  }
  #successBody {
    background-color: white;
    color: hsl(236, 25%, 21%);
    width: 300px;
    font-size: 15px;
    font-family: Roboto;
    padding: 40px;
    border-radius: 30px;
    margin-top: 100px;
  }
  #successBody h1 {
    font-family: Roboto-Bold;
    font-size: 40px;
  }
  #successBody p {
    margin-bottom: 150px;
  }
}